<div class="row justify-content-center">
 <select class="usr-list__select">
    <option value="-1">
      Select a User
    </option>
  </select>
</div>

<div class="row justify-content-center">
 <div class="col-11">
  <div class="users__container">
    <div class="usr-list__list">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Project ID</th>
            <th scope="col">Start Date</th>
            <th scope="col">Time to Start</th>
            <th scope="col">End Date</th>
            <th scope="col">Credits</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
 </div>

</div>
