<connectionStrings>
  <add name="Read"
   providerName="System.Data.ProviderName"
   connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=GProjectDb;Integrated Security=True" />
  <add name="Write"
   providerName="System.Data.ProviderName"
   connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=GProjectDb;Integrated Security=True" />
</connectionStrings>